@font-face {
  font-family: MuseoSans;
  src: url(fonts/museo_sans_ssv/Museo\ Sans\ 100/MuseoSans-100.otf);
}

@font-face {
  font-family: MuseoSans;
  src: url(fonts/museo_sans_ssv/Museo\ Sans\ 700/MuseoSans_700.otf);
  font-weight: bold;
}

body {
  background-color: #121212;
  color: #eeeeee;
  font-family: MuseoSans;
}

.corner_text {
  font-size: 5vh;
}

.gamplay_text {
  font-size: 4vh;
}

.hide_img {
  display: none;
}

#username_textbox {
  width: 100%;
  outline: 0;
  background-color: #121212;
  border-color: #eeeeee;
  border-width: 0 0 2px;
  color: #eeeeee;
}

.items {
  width: 50%;
}

@media screen and (max-width: 700px) {
  .items {
    width: 75%;
  }
}
