@font-face {
  font-family: MuseoSans;
  src: url(assets/museo_sans_ssv/Museo\ Sans\ 100/MuseoSans-100.otf);
}

@font-face {
  font-family: MuseoSans;
  src: url(assets/museo_sans_ssv/Museo\ Sans\ 700/MuseoSans_700.otf);
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #121212;
  font-family: MuseoSans;
}

a {
  text-decoration: none;
  color: #eeeeee;
}

section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.circle-text {
  position: relative;
  margin: 0 auto;
  color: #eeeeee;
  font-size: 25px;
  animation: animate 20s linear infinite;
}

.options {
  color: #eeeeee;
}

.jyun-bold {
  font-weight: bold;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.circle-text span {
  top: -300px;
  position: absolute;
  text-transform: uppercase;
  transform-origin: 0 300px;
}
